*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
   
}

ul,ol { 
    list-style-type: none;
}
h1 h2 h3 h4 h5 h6 p {
    line-height: o.8;
}

a{
    text-decoration: none;
}
/* =============nav start==== */
nav{
   
    padding: 25px 0 ;
   position: absolute;
   left:0;
   top:0;
   width:100%;
   background:(#fef3f8);

}
    
.nav_wraper{
    display :flex;
   
 justify-content: space-between;
    align-items: center;
    
}
.menu ul
{
    display : flex;
    column-gap: 30px;
    padding: 20px;
  
}
.menu ul li a {


    font-weight: 500;
    font-size: 16px;
   text-transform: capitalize;
   position: relative;
   transition: all linear 0.3s;
   color: #3e3c3d;
 

  
}
.menu ul li a:hover {
 
 
    color: #d50a51;
    
 
}
.menu ul li a::after { 
 position: absolute;
 content : "";
 width: 0;


 

 transition: all linear 0.3s;


 
}
.menu ul li a:hover::after{
    
width: 100%;

background-image: url(../img/d.png);
background-repeat: no-repeat;
background-position: bottom;
left:0;
padding-top: 50px;
 

}
.login button {
   
    border-radius: 30%;
    background-color: #d50a51;
    color: white;
    width: 160px;
    height: 42px;
    text-align: center;
    align-items: center;
  
  
    
   
}
/* ========nav end hare====== */
/* =======baner start===== */
#baner{
    background-image: url(../img/g.png);
    background-position: cover;
    padding: 100px 0 ;
    overflow: hidden;
    margin: 0 auto;
    
}
.baner_wraper{
    display: flex;
    padding-top: 100px 0 ;
    column-gap: 112px;
    align-items: center;
}
.baner_wraper .img {

}
.content h1{
    font-weight: 500;
    font-size: 61px;
    text-transform: uppercase;
    color: #8a5e3b;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.content h2{
    font-weight: 400px;
    font-size: 84px;
    color:#d50a51;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}
.content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#444444;
    padding: 33px 0;

}
.content span{
    border: 1px solid;
    border-radius: 30%;
    color: #d50a51;
    width: 170px;
    height: 40px;
    align-items: center;
    padding: 15px;
    margin-left: 100px;
    margin-top: 100px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;


}
/* ======baner part end==== */
/* ======history part start==== */
.history_wraper{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.history_content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
  color: #828282;
 padding: 25px;
}
.history_content h2{
    color: #828282;
    font-weight: 500;
  align-items: center;

    

}
.history_content{
    background-image: url(../img/o.png);
    background-repeat: no-repeat;
    
   padding: 30px 0;
  
}
.history_content span{
    color: #d50a51;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 28px; 
   
   


}
/* ======gift part start===== */
.gift_wraper{
    display: flex;
    height: 540px;
    align-items: center;
    margin: 80px 0;
 
 
}
.gift_img{
margin-bottom: 150px;
width: 100%;

}
#gift{
    background-color: #fff8e0;
 
    width:100%;
    background-position: center;
    
}
.btn_item{
    display: flex;
    column-gap: 20px;
    padding-left: 20px;
}
.btn1 button{
    width:117px;
    height: 40px;
    background-color: #d50a51;
    border-radius: 30px;
    color: white;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    
}
.btn2 button{
    width:160px;
    height: 40px;
    color: #d50a51;
    border-radius: 30px;
    border:1px solid #d50a51;
    background-color: transparent;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
/* =======history part end====== */
.ticket_wraper{
    display: flex;

}
/* =======service part start==== */
.service_wraper{
   
       display: flex;
    flex-wrap: wrap;
    padding: 60 0 100 0;


}
.service_item{
   width: 350px;
    height: 250px;
    overflow: hidden;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
   
 
    
}
.total{
    display: flex;
   
   
}
.service_wraper :hover{
  background-color: #f1f1f1;
  color: #828282;
border-width: 200px;
 
  border-right:2px solid #d50a51;
  
}
.item_wraper {
   display: flex;

  
   
}
#service{
    background-image: url(../img/g.png);
    height: 560px;
    width: 100%;
    object-fit: cover;   
    padding-top: 70px;
}
.se_wraper{
    width: 720px;
    height: 330px;
    padding-left: 30px;
}
.service_content{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
  color: #828282;



}
.service_content h3{
    color: #d50a51;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
     text-transform: capitalize;


}
.service_content p {
    font-size: 16px;
    padding-top:20px;
}
.service_icon i {
 font-size: 100px;
 color: #d50a51;

    
}
.service_icon{
    color: #d50a51;
    font-size: 45px;
    height: 50px;
}
/* ========service part end==== */
.capture_wraper{
    display: flex;
    column-gap: 10px;
   
	 flex-wrap: wrap; 
 
}
.team{
 width:33%;
height: 450px;
position: relative;
padding: 10px;






}
.team img {
   width:100%;
   height: 100%;
  object-fit: cover;  
   
}
.team .overly1 {
    left:0;
    top:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.721);
    align-items: right;
    justify-content: right;
    flex-direction: column;
  
    opacity: 0;
    transition: all linear 0.3s;
}
.overly1  {
    font-size: 30px;
	font-weight:400px;

	height:50px;
	padding-top:150px;
	justify-content:space-between;
	
	color:black;
	

}

	
.team :hover.overly1{
    opacity:1;
	
	
 }
 .capture_about{
 width:30%;
 

   

 }
/* ======== 

font-family: 'Kaushan Script', cursive;

font-family: 'Roboto', sans-serif;
font-family: 'Great Vibes', cursive;

font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;*/

